@model SubredditViewModel

<h2>@Model.Subreddit.Name</h2>
<h3>Posts</h3>
<ul>
    @foreach (var post in Model.Posts)
    {
        <li>@Html.ActionLink(post.Name, "Index", "Post", new {post.Id})</li>
    }
</ul>

<h3>Add Post</h3>
@using (Html.BeginForm("AddPost", "Subreddit", FormMethod.Post,
    new {@class = "clr-form clr-form-horizontal", @style = "display: flex; flex-direction: column;"}))
{
    <div class="clr-form-control">
        @Html.LabelFor(model => model.NewPost.Name, new {@class = "clr-control-label", @style = "width: 3rem;"})
        <div class="clr-control-container">
            @Html.TextBoxFor(model => model.NewPost.Name, new {@class = "clr-input"})
        </div>
        @Html.ValidationMessage("Name")
    </div>
    <div class="clr-form-control">
        @Html.LabelFor(model => model.NewPost.Text, new {@class = "clr-control-label", @style = "width: 3rem;"})
        @Html.TextBoxFor(model => model.NewPost.Text, new {@class = "clr-input"})
        @Html.ValidationMessage("Text")
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
}

<vc:text-box name="hello" number="2"></vc:text-box>